<!-- <p>dashboard works!</p> -->
<div class="layout-content">
<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card header="Simple Card" [style]="{width: '360px'}">
            <div style="line-height:1.5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        </p-card>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card header="Simple Card" [style]="{width: '360px'}">
            <div style="line-height:1.5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        </p-card>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card header="Simple Card" [style]="{width: '360px'}">
            <div style="line-height:1.5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        </p-card>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card header="Simple Card" [style]="{width: '360px'}">
            <div style="line-height:1.5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        </p-card>
    </div>
</div>
</div>


