<!-- <p>dashboard works!</p> -->
<div class="layout-main">
<div class="layout-content">
<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card styleClass="Kpicardstyles">
           <div class="p-grid overview-box">
                <div class="p-col-3 p-col-align-center overview-box-icon"><img src="card" src="./../../../dist/SundeusCLMImg/Dashboard_Kpi_img/intiatedkpi.svg" style="height: 50px;"></div>
                <div class="p-col-6 p-col-align-center overview-box-text">
                    <h3>Initiated</h3>
                </div>
                <div class="p-col-3 p-col-align-center overview-box-status">60</div>
            </div>
        </p-card>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card styleClass="Kpicardstyles">
            <div class="p-grid overview-box">
                 <div class="p-col-3 p-col-align-center overview-box-icon"><img src="card" src="./../../../dist/SundeusCLMImg/Dashboard_Kpi_img/PendingSignature.svg" style="height: 50px;"></div>
                 <div class="p-col-6 p-col-align-center overview-box-text">
                     <h3>Pending Signature</h3>
                 </div>
                 <div class="p-col-3 p-col-align-center overview-box-status2">4</div>
             </div>
         </p-card>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card styleClass="Kpicardstyles">
            <div class="p-grid overview-box">
                 <div class="p-col-3 p-col-align-center overview-box-icon"><img src="card" src="./../../../dist/SundeusCLMImg/Dashboard_Kpi_img/PendingApproval.svg" style="height: 50px;"></div>
                 <div class="p-col-6 p-col-align-center overview-box-text">
                     <h3>Pending Approval</h3>
                 </div>
                 <div class="p-col-3 p-col-align-center overview-box-status3">14</div>
             </div>
         </p-card>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <p-card styleClass="Kpicardstyles">
            <div class="p-grid overview-box">
                 <div class="p-col-3 p-col-align-center overview-box-icon"><img src="card" src="./../../../dist/SundeusCLMImg/Dashboard_Kpi_img/expiring.svg" style="height: 50px;"></div>
                 <div class="p-col-6 p-col-align-center overview-box-text">
                     <h3>Expiring</h3>
                 </div>
                 <div class="p-col-3 p-col-align-center overview-box-status4">22</div>
             </div>
         </p-card>
    </div>
</div>
</div>
</div>

