<p-menubar [model]="items" styleClass="Sundeusmenuright">
    <div>
    <button pButton type="button" (click)="visibleSidebar1 = true"  icon="pi pi-bars"></button>
    <span class="Sundeusheaderlogo1"></span>
       <!-- <input type="text" pInputText placeholder="Search">
        <button pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button> -->
    </div>
</p-menubar>
<p-sidebar [(visible)]="visibleSidebar1" styleClass="sidebarsize" [baseZIndex]="10000">
   <p-tieredMenu [model]="sundeussidemenu" styleClass="Sundeussideborder"></p-tieredMenu>
</p-sidebar>
<!-- <app-dashboard></app-dashboard> -->
<router-outlet></router-outlet>
<!-- <div class="p-grid">
<div class="p-col-12">
<footer class="footer"> 
    <div class="textalignment" style="text-align: center;">&copy; Copyright 2020. All rights reserved </div>
</footer>
</div>
</div> -->