/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: palatino;
    font-size: 14px;
}
.Sundeusmenuright ul.ui-menubar-root-list {
    float: right;
}
.Sundeusmenuright.ui-menubar .ui-menubar-custom {
    float: left;
} 
.Sundeusheaderlogo1{
    content: url(./dist/SundeusCLMImg/Sundeus_logo/Logo.svg);
    height: 41px;
    width: 140px;
    vertical-align: middle;
}
/* span.ui-menuitem-icon.Sundeusheaderlogo.ng-star-inserted {
    content: url(./dist/SundeusCLMImg/Sundeus_logo/Sundeuslogo.svg);
} */
.pi-caret-down:before {
    content: "";
}
span.ui-menuitem-icon.fa.fa-question-circle.ng-star-inserted {
    margin-right: 0px !important;
}
span.ui-menuitem-icon.fa.fa-bell.ng-star-inserted {
    margin-right: -30px !important;
}
span.ui-menuitem-icon.SundeusLogout.ng-star-inserted {
    content: url(./dist/SundeusCLMImg/img_avatar.png);
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 15px;
}
.Sundeusmenuright.ui-menubar .ui-menubar-root-list > .ui-menu-separator {
    height: 3.5em;
}
.Sundeusmenuright.ui-menubar .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
    font-family: Avenir Heavy;
}
.Sundeusmenuright ul.ui-widget-content.ui-corner-all.ui-submenu-list.ui-shadow {
    top: 51px !important;
    left: -23px !important;
}
.Sundeussideborder.ui-tieredmenu{
    border: none;
    background-color: #012164;

}
.sidebarsize.ui-sidebar-left{
    width: 13em;
    top: 51px;
    /* transform: translate3d(-120px, 0px, 0px); */
}
/* .ui-sidebar-left.ui-sidebar-active, .ui-sidebar-right.ui-sidebar-active {
    transform: translateX(-121px);
    opacity: 1;
} */
/* .ng-tns-c22-0.ng-trigger.ng-trigger-panelState.sidebarsize.ui-sidebar.ui-widget.ui-widget-content.ui-shadow.ui-sidebar-left {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1 !important;
} */
/* .ng-tns-c22-0.ng-trigger.ng-trigger-panelState.sidebarsize.ui-sidebar.ui-widget.ui-widget-content.ui-shadow.ui-sidebar-active.ui-sidebar-left {
    transform: translate3d(-122px, 0px, 0px);
    opacity: 1;
} */
/* .ng-tns-c22-0.ng-trigger.ng-trigger-panelState.sidebarsize.ui-sidebar.ui-widget.ui-widget-content.ui-shadow.ui-sidebar-left {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    z-index: 11002;
} */

.sidebarsize.ui-sidebar {
    background-color: #012164;
    color: #333333;
    border: none;
    padding-left: 1px;
}
.ui-menuitem-icon.dashimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/dashboardwhite.svg);
    /* background: url(./dist/SundeusCLMImg/menuicon_white/dashboardwhite.svg); */
    height: 28px;
    width: 28px;
}
.ui-menuitem-icon.dashimg:hover{
    content: url(./dist/SundeusCLMImg/Orange_menuicon/dashboardSelected.svg);
    height: 28px;
    width: 28px;
}
.ui-menuitem-icon.contractimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/ContractTypewhite.svg);
    height: 28px;
    width: 28px;
}
.ui-menuitem-icon.reportsimag{
    content: url(./dist/SundeusCLMImg/menuicon_white/ruleswhite.svg);
    height: 28px;
    width: 28px;
}
.ui-menuitem-icon.usermtimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/ContractWhite.svg);
    height: 28px;
    width: 28px;
}
.ui-menuitem-icon.setupimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/settingswhite.svg);
    height: 28px;
    width: 28px;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem-link .ui-menuitem-text {
    color: #ffffff;
    font-size: 14px;
    font-family: Avenir Heavy;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem .ui-menuitem-link .ui-submenu-icon {
    right: -3px;
    font-size: 14px;
    color: #ffffff;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon {
    color: #ffffff;
    margin-right: 15px;
    /* float: right; */
}
.Sundeussideborder.ui-tieredmenu .ui-submenu-list{
    background-color: #012164;
    left: 181px !important;
    border: none;
}
/* body .Sundeussideborder.ui-tieredmenu .ui-menu-separator{
    width: 13em;
} */
.sidebarsize.ui-sidebar .ui-sidebar-close{
    visibility: hidden;
}
