/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: Avenir Heavy;
    font-size: 14px;
    background-color: #EFF3F7;
}
.Sundeusmenuright ul.ui-menubar-root-list {
    float: right;
}
.Sundeusmenuright.ui-menubar .ui-menubar-custom {
    float: left;
} 
.Sundeusheaderlogo1{
    content: url(./dist/SundeusCLMImg/Sundeus_logo/Logo.svg);
    height: 40px;
    width: 155px;
    vertical-align: middle;
}
.Sundeusmenuright span.ui-submenu-icon.pi.pi-fw.pi-caret-down.ng-star-inserted {
    color: #013164;
}
span.ui-menuitem-icon.fa.fa-question-circle.ng-star-inserted {
    margin-right: 0px !important;
}
.Sundeusmenuright span.ui-menuitem-icon.fa.fa-bell.ng-star-inserted {
    margin-right: -30px !important;
}
/* a.downarrowiconremove.ui-menuitem-link.ui-corner-all.ng-star-inserted >.pi-caret-down:before{
    content: "" !important;} */
.Sundeusmenuright a.downarrowiconremove>.pi-caret-down:before{
    content: "" !important;
}
span.ui-menuitem-icon.SundeusLogout.ng-star-inserted {
    content: url(./dist/SundeusCLMImg/img_avatar.png);
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 15px;
}
.Sundeusmenuright.ui-menubar .ui-menubar-root-list > .ui-menu-separator {
    height: 3.5em;
}
.Sundeusmenuright.ui-menubar .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
    font-family: Avenir Heavy;
}
.Sundeusmenuright ul.ui-widget-content.ui-corner-all.ui-submenu-list.ui-shadow {
    top: 51px !important;
    left: -23px !important;
}
.Sundeussideborder.ui-tieredmenu{
    border: none;
    background-color: #013164;
}
.sidebarsize.ui-sidebar-left{
    width: 12.5em;             /*edit by pushkar*/
    top: 51px;
}
.sidebarsize.ui-sidebar-left:not(.ui-sidebar-active){
    opacity: 1 !important;
    transform: translateX(-60%);
}
    /*edit by pushkar*/

.sidebarsize.ui-sidebar-left:not(.ui-sidebar-active) .expandcontent > a > .ui-menuitem-text{
    display: none !important;

}            /*edit by pushkar*/
.sidebarsize.ui-sidebar-left:not(.ui-sidebar-active) .Sundeussideborder.ui-tieredmenu{
    margin-left: 105px;
    width: 70px;
}       
   /*edit by pushkar*/
.sidebarsize.ui-sidebar {
    background-color: #013164;
    color: #333333;
    border: none;
    padding-left: 0px;         /*edit by pushkar*/
    padding-top: 0px !important;
}
.ui-menuitem-icon.dashimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/dashboardwhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.dashimg:hover{
    content: url(./dist/SundeusCLMImg/Orange_menuicon/dashboardSelected.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.contractimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/ContractTypewhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon:hover.contractimg{
    content: url(./dist/SundeusCLMImg/Orange_menuicon/ContractTypesSelected.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.reportsimag{
    content: url(./dist/SundeusCLMImg/menuicon_white/ruleswhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon:hover.reportsimag{
    content: url(./dist/SundeusCLMImg/Orange_menuicon/rulesselected.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.usermtimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/ContractWhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon:hover.usermtimg{
    content: url(./dist/SundeusCLMImg/Orange_menuicon/ContractSelecteed.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.setupimg{
    content: url(./dist/SundeusCLMImg/menuicon_white/settingswhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon:hover.setupimg{
    content: url(./dist/SundeusCLMImg/Orange_menuicon/settingsselected.svg);
    height: 25px;
    width: 25px;
}

.Sundeussideborder.ui-tieredmenu .ui-menuitem-link .ui-menuitem-text {
    color: #ffffff;
    font-size: 14px;
    font-family: Avenir Heavy;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem .ui-menuitem-link .ui-submenu-icon {
    right: -3px;
    font-size: 14px;
    color: #ffffff;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon {
    color: #ffffff;
    margin-right: 15px;
    /* float: right; */
}
.Sundeussideborder.ui-tieredmenu .ui-submenu-list{
    background-color: #013164;
    border: none;
}
a.ng-tns-c22-0.ui-sidebar-close.ui-corner-all.ng-star-inserted {
    display: none !important;
}
/* .sidebarsize.ui-sidebar .ui-sidebar-close{
    visibility: hidden;
} */
   /* Dashboard Comp css */
.layout-main{
    margin-left: 70px;
}
.layout-content{
    padding: 1em !important;
}
.p-col-3.p-col-align-center.overview-box-status {
    color: purple;
    font-size: xx-large;
}
.p-col-3.p-col-align-center.overview-box-status2 {
    color: #FE7815;
    font-size: xx-large;
}
.p-col-3.p-col-align-center.overview-box-status3 {
    color: deeppink;
    font-size: xx-large;
}
.p-col-3.p-col-align-center.overview-box-status4 {
    font-size: xx-large;
    color: cadetblue;
}
.p-col-6.p-col-align-center.overview-box-text {
    font-size: 12px;
}
/* .ui-card-body {
    height: 6em;
} */
.card {
    background-color: #FFFFFF;
    padding: 10px;
}                       /* My Task Table card*/
.card h3:first-child {
    margin-top: 0px;
    margin-bottom: 18px;
}
.card h3 {
    color: #013164 !important;
    font-size: 14px;
}
span.customicon {
    float: right;
    color: #013164;
    font-size: 14px;
}